[push]
	default = matching
[user]
	user = Tomas
	name = Tomas Pilar
	email = tpilar@solarflare.com
[color]
	ui = auto
	diff = auto
[core]
	excludesfile = /home/tp/.gitignore
[alias]
	glog = log --all --graph --decorate
	commend = commit --amend --no-edit
[imap]
	host = imaps://webmail.solarflare.com
	User = tp@solarflarecom.com
	Folder = Drafts
	sslverify = true
